
[Unit]
Description=ovs Monitor Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/ovs/ovs_monitor.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
